{% extends 'user.html.twig' %}
        {% block content %}
            <div class="block">
                <div class="card ">
                    <div class="card-content">
                        <div class="form">
                            <h1>Modifiez votre mot de passe : </h1>
                            {{ form_start(editForm) }}
                            <div class="mdp">
                                <label>Nouveau mot de passe</label>
                                {{ form_widget(editForm.password, {'attr': {'class': 'input'}}) }}
                            </div>
                            <div class="prenom">
                                <label>Confirmez le nouveau mot de passe </label>
                                {{ form_widget(editForm.confirm, {'attr': {'class': 'input'}}) }}
                            </div>

                            {{ form_rest(editForm) }}
                            <button class="button is-outlined" type="submit">Modifier</button>
                            {{ form_end(editForm) }}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}