{% extends 'user.html.twig' %}
        {% block content %}
            <div class="block">
                <div class="card ">
                    <div class="card-content">
                        <h1>Votre profil :</h1>
                        <div class="columns">
                            <div class="column is-3 is-offset-one-quarter">
                                <h1>Nom :</h1>
                            </div>
                            <div class="column">
                                <p>{{app.user.name}}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3 is-offset-one-quarter">
                                <h1>Prénom :</h1>
                            </div>
                            <div class="column">
                                <p>{{app.user.surname}}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-3 is-offset-one-quarter">
                                <h1>Adresse mail :</h1>
                            </div>
                            <div class="column">
                                <p>{{app.user.email}}</p>
                            </div>
                        </div>
                        <div class="columns ">
                            <div class="column is-3 is-offset-one-quarter">
                                <h1>Adresse :</h1>
                            </div>
                            <div class="column">
                                <p>{{app.user.address}}</p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('app_profile_edit') }}" class="card-footer-item">Modifier mes informations</a>
                        <a href="#" class="card-footer-item">Modifier mon mon de passe</a>
                        <a href="#" class="card-footer-item">Supprimer mon compte</a>
                    </footer>
                </div>
            </div>

        {% endblock %}