    {% extends 'base.html.twig' %}
            {% block body %}
                {% block content %}
                    {% block title %} Tout les utilisateurs {% endblock %}

                    <section class="section">
                        <div class="columns is-centered">
                            <div class="column is-narrow">
                                <table class="table has-text-centered table is-hoverable">
                                    <thead>
                                    <tr class="has-text-centered" colspan="6">
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                     {% for user in users %}
                                        <tr class="has-text-centered" colspan="6">
                                            <th>{{ user.name }}</th>
                                            <td>{{ user.surname }}</td>
                                            <td>{{ user.roles[0] }}</td>
                                            <td>
                                                <a href="{{ path('deleteUser', {id: user.id}) }}" class="button is-info">Supprimer</a>
                                                <a href="{{ path('adminToUser', {id: user.id}) }}" class="button is-info">Modifier le role</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navbar is-centered">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>
                    </section>

                {% endblock content %}
            {% endblock %}