{% extends 'base.html.twig' %}
 {% block body %}
        {% block content %}
            <title>{% block title %} Toutes les voitures {% endblock %}</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            <br>

            <section class="section">
                <div class="box is-centered">
                    <h3 class="title is-3"></h3> <br>
                    <div class="columns is-centered">
                            <div class="column has-text-centered is-4-tablet is-3-desktop">
                                <div class="card">
                                    <div class="card-image has-text-centered is-size-4">
                                        <figure class="image is-2by1">
                                            <img src="https://bulma.io/images/placeholders/640x480.png" alt="Image">
                                        </figure>
                                        <div class="content">
                                            <p>
                                                <strong>{{ vehicle.name }}</strong> <small>{{vehicle.type  }}</small>
                                                <br>
                                                {{ vehicle.PriceDay }}

                                            </p>
                                        </div>
                                        <div class="card">
                                            <footer class="card-footer is-6">
                                                <a href="{{ path('editVehicle', {id: vehicle.id}) }}" class="card-footer-item">Modifier</a>
                                                <a href="{{ path('deleteVehicle', {id: vehicle.id}) }}" class="card-footer-item">Supprimer</a>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        {% endblock %}

 {% endblock %}
