
{% extends 'admin/baseFormAdmin.html.twig' %}
 {% block body %}
     {% block title %}
         Ajout d'un vehicule de location
     {% endblock %}
     {% block content %}


         <div class="formulaire">

             <h1><strong>Ajouter un vehicule de location</strong></h1>
             {{ form_start(form) }}
             <br>

             <div class="price">
                 <label class="lb">Prix : </label>
                 {{ form_widget(form.price , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="name">
                 <label class="lb">Nom : </label>
                 {{ form_widget(form.name , {'attr': {'class': 'in'}}) }}
             </div>

             <div class="nbPersonMax">
                 <label class="lb">Nombre maximal de personnes : </label>
                 {{ form_widget(form.nbPersonMax , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="vehicle">
                 <label class="lb">Vehicule : </label>
                 {{ form_widget(form.vehicle , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="image">
                 <label class="lb">Image : </label>
                 {{ form_widget(form.image  , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="PickingAddress">
                 <label class="lb">Addresse de récupération : </label>
                 {{ form_widget(form.PickingAddress , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="pickUpDate">
                 <label class="lb">Date de récupération : </label>
                 {{ form_widget(form.pickUpDate, {'attr': {'class': 'in'}}) }}
             </div>
             <div class="dropOffDate">
                 <label class="lb">Date de remise : </label>
                 {{ form_widget(form.dropOffDate, {'attr': {'class': 'in'}}) }}
             </div>

             <div class="description">
                 <label class="lb">Description : </label>
                 {{ form_widget(form.description , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="isAvailable">
                 <label class="lb">Disponible : </label>
                 {{ form_widget(form.isAvailable) }}
             </div>
             <div class="btn">
                 {{ form_widget(form.valider ,{'attr': {'class': 'button'}}) }}
             </div>
             {{ form_end(form) }}
         </div>



     {% endblock %}
 {% endblock %}

