{% extends 'base.html.twig' %}
 {% block body %}
        {% block content %}
            <title>{% block title %} Tous les vehicules en Location {% endblock %}</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            <br>

            <section class="section">
                <div class="box is-centered">

                    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                        <div class="content">
                            <ion-icon name="add-outline"></ion-icon>
                            <a href="{{ path('newRentalVehicle')}}" class="button is-info">Ajouter une location</a>
                        </div>
                    {% endif %}

                    <h3 class="title is-3">Tous les vehicules de location</h3> <br>
                    <div class="columns is-centered">


                        {% for rentalVehicle in rentalVehicles %}
                            <div class="column has-text-centered is-4-tablet is-3-desktop">
                                <div class="card">
                                    <div class="card-image has-text-centered is-size-4">
                                        <figure class="image is-2by1">
                                            <img src="https://bulma.io/images/placeholders/640x480.png" alt="Image">
                                        </figure>
                                        <div class="content">
                                            <p>
                                                <strong>{{ rentalVehicle.name }}</strong>
                                                <br>

                                                <small>{{ rentalVehicle.price}}</small>
                                                <small>{{ rentalVehicle.nb_person_max}}</small>
                                                <br>
                                                {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                                                <a href="{{ path('oneRentalVehicle', {id: rentalVehicle.id} ) }}">En savoir plus...</a>
                                                {% endif %}

                                            </p>
                                        </div>
                                        <div class="card">
                                            {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                                            <footer class="card-footer is-6">
                                                <a href="{{ path('editRentalVehicle', {id: rentalVehicle.id}) }}" class="card-footer-item">Modifier</a>
                                                <a href="{{ path('deleteRentalVehicle', {id: rentalVehicle.id}) }}" class="card-footer-item">Supprimer</a>
                                            </footer>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="navbar is-centered">
                        {{ knp_pagination_render(rentalVehicles) }}
                    </div>
                </div>
            </section>
        {% endblock %}
 {% endblock %}