{% extends './baseUser.html.twig' %}



{% block title %}Hello PackController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <section class="title"> Nos destinations </section>
    <!-- Pour afficher l'ensemble des produits -->

    {% for pack in listePack %}

        <p> Choissisez votre Pack : </p>

        <div class="block">
            <div class="container">
                <div class="columns">
                    <!-- one columns -->
                    <div class="column">
                        <div class="box">
                            <!-- <img class="" src="{ destination.image }}">  -->
                            <h2 class="subtitle has-text-link">{{ pack.name }} </h2>

                            <h2 class="subtitle has-text-link is-4">{{ pack.destination.city }} </h2>
                            <h5 class="subtitle has-text-link is-4">{{ pack.description }} </h5>
                            <p> {{ pack.nbPersonMax }} adultes - </p></br>
                            <a href="{{ path('cart_addPack', {'id':pack.id})}}">
                                <button> {{ pack.price }} </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </section>
</div>

    {% endblock %}
