<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('../node_modules/bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ asset('../node_modules/bulma/css/bulma-rtl.css') }}">
    <link rel="stylesheet" href="{{ asset('../node_modules/bulma/bulma.sass') }}">
    <link rel="stylesheet" href="{{ asset('../node_modules/bulma/bulma.sass') }}">

    {%- block stylesheets -%}
        <link rel="stylesheet" href="{{ absolute_url(asset('build/Bulma.css')) }}"/>
        {{ encore_entry_link_tags('Bulma') }}
    {%- endblock -%}

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {#{% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}#}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="has-background-grey-lighter">
{% block nav %}
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="{{ asset('../assets/img/logo_RICH.png') }}">
            </a>
        </div>
        <div class = "navbar-menu">
            <div class="navbar-end">
                <a href="{{ path('editAdminProfil') }}" class="navbar-item">
                   Admin
                </a>
            </div>
        </div>
    </nav>

    <nav style="background-color: #FDEE00; height: 0.8vh"></nav>
{% endblock %}

{% block navtwo %}
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a class="navbar-item">
                Accueil
            </a>
        </div>
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-end">
                <a class="navbar-item">
                    Packs
                </a>

                <a class="navbar-item">
                    Activités
                </a>

                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <a class="navbar-item" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>Hover me</span>
                              <span class="icon is-small">
                                     <i class="fas fa-angle-down" aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <a href="{{ path('allVehicles') }}" class="navbar-item">
                                    Gestion des vehicules
                                </a>
                            </div>
                            <div class="dropdown-item">
                                <a href="{{ path('allRentalVehicles') }}" class="navbar-item">
                                    Location des vehicules
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="{{ path('allVehicles') }}" class="navbar-item">
                    Vehicules
                </a>
                <a class="navbar-item">
                    Hotels
                </a>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info">
                            <strong>Logout</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>RICH</strong> by <a href="#">NainLand</a>. The source code is licensed
                <a href="#">MIT</a>. The website content
                is licensed <a href="#">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
{% endblock %}
</body>
</html>