<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" href="{{ asset('../assets/img/favicon_RICH.png') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/stylePlus.css') }}">
</head>

<section class="hero is-fullheight">
    <div class="hero-head">
        <header>
            {% block nav %}
                <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #1C3461;">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ path('app_homepage') }}">
                            <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                        </div>


                        {% if app.user %}
                            <a href="{{ path('app_profile') }}" class="navbar-item" >
                                <img src="{{ asset('../assets/img/icon_user_blanc.png') }}" style="color: white;">
                            </a>
                            <a href="{{ path('app_logout') }}" class="navbar-item" >
                                Déconnexion
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="navbar-item"  >
                                Connexion
                            </a>
                            <a href="{{ path('app_register') }}" class="navbar-item"  >
                                M'inscrire
                            </a>
                        {% endif %}

                    </div>
                </nav>

                <nav style="background-color: #FDEE00; height: 0.8vh"></nav>

                <nav class="navbar is-info" role="navigation" aria-label="main navigation"
                     style="background-color: #1C3461;">
                    <div class="navbar-start">
                        <a class="item-navbar" href="{{ path('app_homepage') }}">
                            Accueil
                        </a>
                    </div>

                    <div class="navbar-brand">
                    </div>

                    <div class="navbar-menu">
                        <div class="navbar-end">
                        </div>
                        {% if app.user %}

                        {% if "ROLE_ADMIN" in app.user.roles %}

                            <a class="item-navbar" href="{{ path('allPacks') }}">
                                Packs
                            </a>
                            <a class="item-navbar" href="{{ path('allRentalVehicles') }}">
                                Locations
                            </a>
                            <a class="item-navbar" href="{{ path('allTravels') }}">
                                Voyages
                            </a>
                            <a class="item-navbar" href="{{ path('allVehicles') }}">
                                Véhicules
                            </a>
                            <a class="item-navbar" href="{{ path('allDestinations') }}">
                                Destinations
                            </a>
                            <a class="item-navbar" href="{{ path('allUsers') }}">
                                Utilisateurs
                            </a>

                        {% else %}
                            <a class="item-navbar" href="#">
                                Voyage
                            </a>
                            <a class="item-navbar" href="#">
                                Location
                            </a>
                            <a class="item-navbar" href="#">
                                Voyage
                            </a>
                            <a class="item-navbar" href="#">
                                Véhicule
                            </a>
                            <a class="item-navbar" href="#">
                                Véhicule
                            </a>
                            <a class="item-navbar" href="#">
                                Users
                            </a>
                        {% endif %}
                        {% endif %}


                    </div>
                </nav>
            {% endblock %}
        </header>
    </div>

    {% block body %}
        <body class="hero-body">
        {% block content %}
        {% endblock %}
        </body>
    {% endblock %}

    {% block footer %}
        <div class="hero-foot">
            <footer class="footer" style="background-color: #1C3461">
                <div class="content has-text-centered">
                    <p style="color: white;">
                        <strong style="color: white;">RICH</strong> by Groupe 10. The source code is available
                        <a href="https://github.com/Projet-devWeb-2022/RICH"> here </a>.
                    </p>
                    <a href="homepage.html.twig">
                        <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                    </a>
                </div>
            </footer>
        </div>
    {% endblock %}
</section>
</html>