    <!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Page de base{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('../node_modules/bulma/css/bulma.css') }}">
            <link rel="stylesheet" href="{{ asset('../node_modules/bulma/css/bulma-rtl.css') }}">
            <link rel="stylesheet" href="{{ asset('../node_modules/bulma/bulma.sass') }}">

            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
            {#{% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}#}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </head>
        <body>
            {% block nav %}
                <nav class="navbar is-black" role="navigation" aria-label="main navigation" style="background-color: #1C2B4F;">
                    <div class="navbar-brand">
                            <a class="navbar-item is-left">
                                <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                            </a>

                            <a class="navbar-item is-right">
                                <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                            </a>
                    </div>
                </nav>

                <nav style="background-color: #FDEE00; height: 0.8vh"></nav>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}
        </body>
    </html>
