<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" href="{{ asset('../assets/img/favicon_RICH.png') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/userStyle.css') }}">
</head>
<body style="background-color: #F4FEFE;">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <header>
                {% block nav %}
                    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #1C3461;">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="{{ path('app_homepage') }}">
                                <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                            </a>
                        </div>
                        <div class="navbar-menu">
                            <div class="navbar-end">
                            </div>


                            {% if app.user %}
                                <a href="{{ path('app_profile') }}" class="navbar-item" >
                                    <img src="{{ asset('../assets/img/icon_user_blanc.png') }}" style="color: white;">
                                </a>
                                <a href="{{ path('app_logout') }}" class="navbar-item" >
                                    Déconnexion
                                </a>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="navbar-item"  >
                                    Connexion
                                </a>
                                <a href="{{ path('app_register') }}" class="navbar-item"  >
                                    M'inscrire
                                </a>
                            {% endif %}

                        </div>
                    </nav>

                    <nav style="background-color: #FDEE00; height: 0.8vh"></nav>
                {% endblock %}

                {% block navtwo %}
                    <nav class="navbar is-info" role="navigation" aria-label="main navigation"
                         style="background-color: #1C3461;">
                        <div class="navbar-start">
                            <a href="{{ path('app_homepage') }}" class="item-navbar">
                                Accueil
                            </a>
                        </div>

                        <div class="navbar-brand">
                        </div>

                        <div class="navbar-menu">
                            <div class="navbar-end">
                            </div>
                            <a href="{{ path('app_profile') }}" class="item-navbar">
                                Mes informations personnelles
                            </a>

                            <a href="{{ path('app_profile_orders') }}" class="item-navbar">
                                Mes commandes
                            </a>
                        </div>
                    </nav>
                {% endblock %}
            </header>
        </div>
        <section class="contentBlock">
            {% block content %}
            {% endblock %}
        </section>


        {% block footer %}
            <div class="hero-foot">
                <footer class="footer" style="background-color: #1C3461">
                    <div class="content has-text-centered">
                        <p>
                            <strong>RICH</strong> by Groupe 10. The source code is available
                            <a href="https://github.com/Projet-devWeb-2022/RICH"> here </a>.
                        </p>

                    </div>
                </footer>
            </div>
        {% endblock %}
    </section>
</body>
</html>