
{% extends 'admin/baseFormAdmin.html.twig' %}
 {% block body %}
     {% block title %}
         Ajout d'un voyage
     {% endblock %}
     {% block content %}


         <div class="formulaire">

             <h1><strong>Ajouter un voyage</strong></h1>
             {{ form_start(form) }}
             <br>

             <div class="price">
                 <label class="lb">Prix : </label>
                 {{ form_widget(form.price , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="name">
                 <label class="lb">Nom : </label>
                 {{ form_widget(form.name , {'attr': {'class': 'in'}}) }}
             </div>

             <div class="nbPersonMax">
                 <label class="lb">Nombre maximal de personnes : </label>
                 {{ form_widget(form.nbPersonMax , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="image">
                 <label class="lb">Image : </label>
                 {{ form_widget(form.image  , {'attr': {'class': 'in'}}) }}
             </div>

             <div class="destination">
                 <label class="lb">Destination : </label>
                 {{ form_widget(form.destination, {'attr': {'class': 'in'}}) }}
             </div>

             <div class="vehicle">
                 <label class="lb">Vahicule : </label>
                 {{ form_widget(form.vehicle, {'attr': {'class': 'in'}}) }}
             </div>

             <div class="airportDeparture">
                 <label class="lb">Départ de : </label>
                 {{ form_widget(form.airportDeparture , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="dateDeparture">
                 <label class="lb">Le : </label>
                 {{ form_widget(form.dateDeparture, {'attr': {'class': 'in'}}) }}
             </div>
             <div class="departureTime">
                 <label class="lb">À : </label>
                 {{ form_widget(form.departureTime, {'attr': {'class': 'in'}}) }}
             </div>
             <div class="airportArrival">
                 <label class="lb">Arrivée à : </label>
                 {{ form_widget(form.airportArrival, {'attr': {'class': 'in'}}) }}
             </div>
             <div class="arrivalTime">
                 <label class="lb">À : </label>
                 {{ form_widget(form.arrivalTime, {'attr': {'class': 'in'}}) }}
             </div>
             <div class="dateArrival">
                 <label class="lb">Le : </label>
                 {{ form_widget(form.dateArrival, {'attr': {'class': 'in'}}) }}
             </div>

             <div class="description">
                 <label class="lb">Description : </label>
                 {{ form_widget(form.description , {'attr': {'class': 'in'}}) }}
             </div>
             <div class="isAvailable">
                 <label class="lb">Disponible : </label>
                 {{ form_widget(form.isAvailable) }}
             </div>
             <div class="btn">
                 {{ form_widget(form.valider ,{'attr': {'class': 'button'}}) }}
             </div>
             {{ form_end(form) }}
         </div>



     {% endblock %}
 {% endblock %}

